body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

#hot_cup {
  color: #b8784e;
}
/* _______________________________________Right Side Floating Bar__________________________________________ */
#floating_div {
  top: 100px;
  right: 0;
  bottom: 0;
  width: 90px;
  height: 200px;
  float: right;
  position: fixed;
  z-index: 9999;
  padding: 40px 5px;
  padding-top: 70px;
  margin-bottom: 70px;
  background: #0d1326;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  text-align: center;
}

.forward_hr {
  opacity: 20%;
}

.floating_containt {
  margin-top: -50px;
  margin-left: 10px;
  width: 60px;
  height: 260px;
  padding-bottom: 20px;
  color: #636774;
  font-size: 25px;
}

#forward:hover {
  color: #fff;
  transition: 0.3s ease-out;
}

#back:hover {
  color: #fff;
  transition: 0.3s ease-out;
}

#download:hover {
  color: #fff;
  transition: 0.3s ease-out;
}

#buy:hover {
  color: #fff;
  transition: 0.3s ease-out;
}

.floating_label {
  font-size: 17px;
}
/*_______________________________________________Header____________________________________________________ */
header {
  background-color: #000;
}

.inner_banner_img {
  width: 100%;
  height: 50%;
  background-size: cover;
  background-attachment: fixed;
  opacity: 60%;
  margin: 0;
}

.container {
  display: inline;
  position: relative;
}

.topnav {
  margin-top: -720px;
  margin-left: 50px;
  position: relative;
  height: 500px;
}

.topnav a {
  color: #fff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  color: rgb(253, 213, 127);
  transition: 0.3s ease-out;
}

#cup_logo {
  height: 40px;
  width: 40px;
  margin-top: 30px;
  margin-bottom: 0px;
  color: rgb(253, 213, 127);
}

h1 {
  display: inline;
  color: #fff;
  font-size: 30px;
  margin-left: -20px;
  margin-top: -10px;
  padding-left: 2px;
  padding-right: 400px;
}

#search {
  border: 2px solid #c9c9c9;
  color: #fff;
  background-color: transparent;
  border-radius: 20px;
  height: 40px;
  width: 200px;
}
/* ___________________________________________Second Div____________________________________________________ */
.second_div {
  background-color: #fff;
  position: absolute;
  width: 99%;
  padding-bottom: 100px;
}

.ab1_img {
  border-radius: 10px;
  margin-top: 100px;
  margin-left: 90px;
  z-index: -5;
  height: 380px;
  width: 560px;
}

.rotate_div {
  background-color: black;
  opacity: 40%;
  height: 200px;
  width: 200px;
  border-radius: 30px;
  margin-top: -200px;
  margin-left: 450px;
  transform: rotate(45deg);
  z-index: -4;
}

.year {
  font-size: 40px;
  /* opacity: 100%; */
  color: #fff;
  margin-top: -160px;
  margin-left: 520px;
  z-index: 2;
  position: absolute;
}

.experience {
  font-size: 25px;
  /* opacity: 100%; */
  color: #fff;
  margin-top: -105px;
  margin-left: 500px;
  z-index: 2;
  position: absolute;
}

.good_time {
  font-size: 20px;
  margin-left: 730px;
  margin-top: -300px;
}

.good_time_heading {
  font-size: 35px;
  margin-left: 730px;
  color: black;
}

.good_time_p {
  width: 600px;
  margin-left: 730px;
}

.good_time_p1 {
  font-size: 22px;
  margin-left: 0px;
  padding-left: 0px;
  color: black;
  width: 350px;
}

.good_time_p2 {
  font-size: 17px;
  margin-left: 0px;
  padding-left: 0px;
  color: #707070;
  text-align: justify;
  width: 500px;
  line-height: 30px;
}

.icons_div1 {
  margin-top: 150px;
}

.sub_icons_div1 {
  margin-left: 0px;
  display: inline;
}

#about_us_icons {
  padding-left: 220px;
  color: #d2804b;
  font-size: 50px;
}

.icons_div2 {
  margin-top: 70px;
  text-align: center;
}

.sub_icons_div2 {
  margin-left: -200px;
  display: inline;
}

#about_us_strong {
  font-size: 35px;
  padding-left: 200px;
}

.icons_div3 {
  margin-top: 0px;
  text-align: center;
}

.sub_icons_div3 {
  margin-left: -200px;
  display: inline;
}

#about_us_labels {
  font-size: 20px;
  padding-left: 160px;
}
/* _____________________________________________Third Div___________________________________________________ */
#third_div {
  text-align: center;
}

.third_div_img {
  margin-top: 64%;
  width: 100%;
}

.third_div_p {
  font-size: 20px;
  margin-top: -500px;
  color: #fff;
}

.h1_third_div {
  font-size: 50px;
}

.third_div_h {
  margin-left: 100px;
}

span {
  margin-top: -10px;
  margin-left: 300px;
  width: 110px;
}

#play_btn {
  font-size: 80px;
  margin-left: 0px;
  margin-top: 25px;
  color: #fff;
}

#play_btn:hover {
  color: rgb(253, 213, 127);
  transition: 0.3s ease-out;
}

#fourth_div {
  margin-top: 250px;
  padding-bottom: 100px;
}

.fourth_img_div {
  margin-left: 100px;
}

.fourth_img {
  height: 100%;
  width: 40%;
  border-radius: 10px;
}

.fourth_heading_div {
  width: 420px;
  margin-left: 650px;
  margin-top: -450px;
}

.fourth_heading {
  font-size: 35px;
  color: #000;
  padding-left: 20px;
}

.fourth_p {
  color: #636774;
}

.fourth_icons_div {
  margin-top: 60px;
  margin-left: 650px;
}

.fourth_icons_p {
  margin-left: 40px;
  color: #636774;
}

#hot_cupp {
  font-size: 30px;
  color: #b8784e;
}

#client_testimonial {
  padding-bottom: 350px;
}

.bg-img3 {
  margin-left: 0px;
  height: 718px;
}

#hot_cup_testi {
  font-size: 20px;
  color: rgb(255, 255, 255);
  margin-top: -600px;
  text-align: center;
}

.testi_heading {
  text-align: center;
  margin-top: 10px;
  margin-left: 430px;
}

.testi_heading1 {
  color: #fff;
}

.testi_heading2 {
  color: #fff;
  margin-left: 0px;
}

.testi1_img {
  margin-top: 100px;
  margin-left: 280px;
  border-radius: 100%;
  height: 120px;
  width: 120px;
}

.testi_name {
  color: #fff;
  width: 150px;
  margin-left: 260px;
  margin-top: 10px;
  text-align: center;
}

.testi_para {
  font-size: 20px;
  width: 700px;
  text-align: justify;
  color: #fff;
  margin-left: 500px;
  margin-top: -190px;
}

.quote {
  height: 50px;
  width: 50px;
  margin-top: -170px;
  margin-left: 440px;
}

.testi_p {
  width: 600px;
}

#sixth_div {
  margin-top: -60px;
  background-color: #fafafa;
}

.sixth_div_label_icon {
  padding-top: 150px;
  margin-left: 600px;
}

.sixth_div_heading {
  margin-left: 550px;
  margin-top: 20px;
}

.sixth_div_h {
  color: #000;
}

.sixth_subdiv {
  margin-top: 100px;
}

.team1 {
  display: inline;
  margin-left: 80px;
}

.team2 {
  display: inline;
  margin-left: 40px;
}

.team3 {
  display: inline;
  margin-left: 40px;
}

.team1_img {
  border-radius: 10px;
  padding: 15px 15px 70px 15px;
  height: 100%;
  width: 25%;
  box-shadow: 0px 0px 0px rgb(235, 235, 235), 0px 0px 10px rgb(235, 235, 235);
}

/* ________________________________________________Footer___________________________________________________ */

.footer_div {
  background-color: #000000;
  margin-top: 150px;
  margin-left: -8px;
  height: 100%;
  width: 100%;
  position: absolute;
}

.footer_img {
  background-size: cover;
  background-position: bottom;
  opacity: 30%;
  margin-left: 0px;
  z-index: -10;
}

.footer_title {
  margin-top: -600px;
  margin-left: 450px;
  position: relative;
  width: 500px;
}

.footer_title1 {
  position: relative;
  color: #fff;
  z-index: 2;
  font-size: 30px;
}

.input {
  text-align: center;
  width: 600px;
  margin-left: 350px;
}

.email_input {
  color: #fff;
  position: relative;
  font-size: 18px;
  width: 500px;
  height: 40px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  border: 2px solid;
  border-color: #707070;
  background-color: transparent;
  z-index: 3;
}

.subcribe_btn {
  width: 150px;
  margin-left: 772px;
  margin-top: -46px;
}

.subcribe_now_btn {
  position: relative;
  z-index: 4;
  font-size: 18px;
  background-color: #ffc845;
  color: #fff;
  height: 46px;
  border: transparent;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}

.Cafephile_last_div {
  width: 350px;
  margin-top: 40px;
  margin-left: 100px;
  position: relative;
}

.last_logo {
  height: 40px;
  width: 40px;
}

.cafephile_name {
  color: #fff;
  font-size: 35px;
}

.Cafephile_p {
  margin-left: 0px;
  margin-top: 20px;
  text-align: justify;
  color: #fff;
  width: 350px;
}

#social_media_logo_div {
  margin-top: 40px;
}

#social_media {
  color: #fff;
  padding-left: 20px;
}

#social_media:hover {
  color: #ffc845;
  transition: 0.3s ease-in;
}

#quick_link {
  position: relative;
  text-align: center;
  margin-left: 480px;
  margin-top: -215px;
  width: 200px;
}

.cafephile_links {
  color: #fff;
  font-size: 20px;
}

.links_p {
  color: #fff;
  line-height: 13px;
  width: 150px;
  margin-left: 48px;
  margin-top: 32px;
  text-align: left;
  font-size: 18px;
}

.links_p:hover {
  color: #ffc845;
  transition: 0.3s ease-in;
}

.contact_info_l {
  color: #fff;
  font-size: 20px;
  margin-left: 20px;
}

#contact_info_div {
  position: relative;
  text-align: left;
  margin-left: 681px;
  margin-top: -270px;
  width: 240px;
}

.contact_info_p {
  color: #fff;
  width: 185px;
  margin-left: 20px;
  margin-top: 27px;
  text-align: left;
  font-size: 18px;
}

.contact_info_p:hover {
  color: #ffc845;
  transition: 0.3s ease-in;
}

#opening_hours_div {
  position: relative;
  text-align: left;
  margin-left: 950px;
  margin-top: -273px;
  width: 300px;
}

.opening_hours_l {
  color: #fff;
  font-size: 20px;
  margin-left: 55px;
}

.opening_hours_p {
  color: #fff;
  width: 250px;
  margin-left: 20px;
  margin-top: 27px;
  font-size: 18px;
  line-height: 10px;
}

.time {
  float: right;
}

.footer_hr {
  width: 90%;
  opacity: 30%;
  color: #707070;
  margin-top: 30px;
}

.foo_ter {
  margin-top: 30px;
  color: #8f8f8f;
  position: relative;
  width: 600px;
  margin-left: 370px;
  text-align: center;
  font-size: 15px;
}

.footer_W3school {
  color: #8f8f8f;
  position: relative;
  text-decoration: none;
}

.footer_W3school:hover {
  color: #ffc845;
  transition: 0.3s ease-out;
}
